<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Smart Garden</title>

  <!-- Custom fonts for this template-->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin-2.min.css" rel="stylesheet">
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  
  
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-5 pl-3">
		<i class="fas fa-seedling"></i>

        </div>
        <div class="sidebar-brand-text mx-3">Smart Garden<sup>1</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Current Data</span></a>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Addons
      </div>


      <!-- Nav Item - Charts -->
      <li class="nav-item active">
        <a class="nav-link" href="charts.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Charts</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Tables</span></a>
      </li>
	  
      <!-- Nav Item - Gallery -->
      <li class="nav-item">
        <a class="nav-link" href="gallery.html">
		  <i class="far fa-image"></i>
          <span>Gallery</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

                    <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" id="logout" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
              </a>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

		
		
		
	
		
		
		
		
		
		
		
		
		
		
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Charts</h1>
          <p class="mb-4"></p>

          <!-- Content Row -->
          <div class="row">
            <div class="col-xl-10 col-lg-10">
              <!-- Area Chart -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Temperature Chart</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area" id="temChart">

                  </div>
                  <hr>
				  <p>It monitors the temperature condition of the plant..</p>
                </div>
              </div>
            </div>
			
			<div class="col-xl-10 col-lg-10">
              <!-- Area Chart -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-success">Humidity Chart</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area" id="humChart">

                  </div>
                  <hr>
				  <p>It monitors the humidity of the environment where the plant is located.</p>
                </div>
              </div>
            </div>
			
			<div class="col-xl-10 col-lg-10">
              <!-- Area Chart -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-secondary">Soil Moisture Chart</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area" id="soilChart">

                  </div>
                  <hr>
				  <p>It monitors the soil moisture of the plant. When the soil moisture level goes above 500, the user will receive an alert message.</p>
                </div>
              </div>
            </div>
			
			<div class="col-xl-10 col-lg-10">
              <!-- Area Chart -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-warning">Light Level Chart</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area" id="lightChart">

                  </div>
                  <hr>
				  <p>It monitors the light level of the environment where the plant is located.</p>
                </div>
              </div>
            </div>
        </div>
		
		
		
		
		
		
		
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="static/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="static/js/demo/chart-area-demo.js"></script>
  <script src="static/js/demo/chart-pie-demo.js"></script>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        $(document).ready(function(){
		tempChart();
		humChart();
		soilChart();
		lightChart();
            setInterval(function () {
                		tempChart();
		humChart();
		soilChart();
		lightChart();
            }, 5000);	
		
        });
	
   google.charts.load("current", {
        packages : [ "corechart","table" ]
    });

        
		
		

   function tempChart(){
            jQuery.ajax({
                url: '/api/getChart',
                method: 'POST',
                success: function(ndata){ 
			        console.log(ndata);
                    chartdata = ndata;
                    let tempGraphdata = createTempDataTable(chartdata);
                    drawTempLineChart(tempGraphdata);
                }//end success
            });//end ajax
          } //end getNewData

		  
		  
        function createTempDataTable(newdata){
            let tempGraphdata = new google.visualization.DataTable();       
            tempGraphdata.addColumn('string', 'Time');
            tempGraphdata.addColumn('number', 'Temperature');
            for (i in newdata) {
                datetime = newdata[i].datetimeid;
                jsdatetime = new Date(Date.parse(datetime));
                jstime = jsdatetime.toLocaleTimeString();
                temp = newdata[i].temperature;
                tempGraphdata.addRows([[jstime,temp]]);
            }//end for
            return tempGraphdata
        }
        

        function drawTempLineChart(graphdata) {
            chart = new google.visualization.LineChart(
            document.getElementById('temChart'));
            chart.draw(graphdata, {
          title: 'Historical Temperature Record',
		  titleTextStyle :{
            fontSize : 18,
			color: '#428bca'
          },
		  hAxis: {
          title: 'Time',
		  textStyle :{
            fontSize : 10
          }},
          vAxis: {
		  baseline: 0,
		  title: 'Temperature (°C)',
		  textStyle :{
            fontSize : 10},
		  scaleType: 'log',
          },
          pointSize: 8,		  
		  legend: 'none',
          colors: ['#428bca']});
            return 
        } //end drawChart
		
		
		
		
		
		function humChart(){
            jQuery.ajax({
                url: '/api/getChart',
                method: 'POST',
                success: function(ndata){ 
                    chartdata = ndata;
                    let humGraphdata = createhumDataTable(chartdata);
                    drawHumLineChart(humGraphdata);
                }//end success
            });//end ajax
          } //end getNewData

		  
		  
        function createhumDataTable(newdata){
            let tempGraphdata = new google.visualization.DataTable();       
            tempGraphdata.addColumn('string', 'Time');
            tempGraphdata.addColumn('number', 'Humidity');
            for (i in newdata) {
                datetime = newdata[i].datetimeid;
                jsdatetime = new Date(Date.parse(datetime));
                jstime = jsdatetime.toLocaleTimeString();
                hum = newdata[i].humidity;
                tempGraphdata.addRows([[jstime,hum]]);
            }//end for
            return tempGraphdata
        }
        

        function drawHumLineChart(graphdata) {
            chart = new google.visualization.LineChart(
            document.getElementById('humChart'));
            chart.draw(graphdata, {
          title: 'Historical Humidity Record',
		  titleTextStyle :{
            fontSize : 18,
			color: '#5cb85c'
          },
		  hAxis: {
          title: 'Time',
		  textStyle :{
            fontSize : 10
          }},
          vAxis: {
		  baseline: 0,
		  title: 'Humidity',
		  textStyle :{
            fontSize : 10},
		  scaleType: 'log',
          },
          pointSize: 8,		  
		  legend: 'none',
          colors: ['#5cb85c']});
            return 
        } //end drawChart
		
		
		
		
		
	function soilChart(){
            jQuery.ajax({
                url: '/api/getChart',
                method: 'POST',
                success: function(ndata){ 
                    chartdata = ndata;
                    let soilGraphdata = createSoilDataTable(chartdata);
                    drawSoilLineChart(soilGraphdata);
                }//end success
            });//end ajax
          } //end getNewData

		  
		  
        function createSoilDataTable(newdata){
            let tempGraphdata = new google.visualization.DataTable();       
            tempGraphdata.addColumn('string', 'Time');
            tempGraphdata.addColumn('number', 'Soil');
            for (i in newdata) {
                datetime = newdata[i].datetimeid;
                jsdatetime = new Date(Date.parse(datetime));
                jstime = jsdatetime.toLocaleTimeString();
                soil = newdata[i].soil;
                tempGraphdata.addRows([[jstime,soil]]);
            }//end for
            return tempGraphdata
        }
        

        function drawSoilLineChart(graphdata) {
            chart = new google.visualization.LineChart(
            document.getElementById('soilChart'));
            chart.draw(graphdata, {
          title: 'Historical Soil Moisture Record',
		  titleTextStyle :{
            fontSize : 18,
			color: '#292b2c'
          },
		  hAxis: {
          title: 'Time',
		  textStyle :{
            fontSize : 10
          }},
          vAxis: {
		  baseline: 0,
		  title: 'Soil Moisture',
		  textStyle :{
            fontSize : 10},
		  scaleType: 'log',
          },
          pointSize: 8,		  
		  legend: 'none',
          colors: ['#292b2c']});
            return 
        } //end drawChart
		
		
		
		
		
				
	function lightChart(){
            jQuery.ajax({
                url: '/api/getChart',
                method: 'POST',
                success: function(ndata){ 
                    chartdata = ndata;
                    let lightGraphdata = createLightDataTable(chartdata);
                    drawLightLineChart(lightGraphdata);
                }//end success
            });//end ajax
          } //end getNewData

		  
		  
        function createLightDataTable(newdata){
            let tempGraphdata = new google.visualization.DataTable();       
            tempGraphdata.addColumn('string', 'Time');
            tempGraphdata.addColumn('number', 'Light');
            for (i in newdata) {
                datetime = newdata[i].datetimeid;
                jsdatetime = new Date(Date.parse(datetime));
                jstime = jsdatetime.toLocaleTimeString();
                light = newdata[i].light;
                tempGraphdata.addRows([[jstime,light]]);
            }//end for
            return tempGraphdata
        }
        

        function drawLightLineChart(graphdata) {
            chart = new google.visualization.LineChart(
            document.getElementById('lightChart'));
            chart.draw(graphdata, {
          title: 'Historical Light Level Record',
		  titleTextStyle :{
            fontSize : 18,
			color: '#f0ad4e'
          },
		  hAxis: {
          title: 'Time',
		  textStyle :{
            fontSize : 10
          }},
          vAxis: {
		  baseline: 0,
		  title: 'Light Level',
		  textStyle :{
            fontSize : 10},
		  scaleType: 'log',
          },
          pointSize: 8,		  
		  legend: 'none',
          colors: ['#f0ad4e']});
            return 
        } //end drawChart
		
		
		
		
		$('#logout').on('click',function () {
   window.location.replace("logout");
  
});
		
		
		
		
		
		
		
		
		
		
		
		
  </script>
</body>

</html>