<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Smart Garden</title>

  <!-- Custom fonts for this template-->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin-2.min.css" rel="stylesheet">
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  
  
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-5 pl-3">
		<i class="fas fa-seedling"></i>

        </div>
        <div class="sidebar-brand-text mx-3">Smart Garden<sup>1</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Current Data</span></a>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Addons
      </div>


      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="charts.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Charts</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Tables</span></a>
      </li>
	  
	        <!-- Nav Item - Gallery -->
      <li class="nav-item">
        <a class="nav-link" href="gallery.html">
		  <i class="far fa-image"></i>
          <span>Gallery</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>



		  
		  
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" id="logout" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
              </a>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

		
		
		
		
		
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Current Data</h1>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Current Temperature -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Temperature</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="currentTemp"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-thermometer-three-quarters fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Current Humidity -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Humidity</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="currentHum"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-tint fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Current Soil Moisture -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
               <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Soil Moisture</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="currentSoil"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-seedling fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Light Level</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="currentLight"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-lightbulb fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
		  
		  
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-2 mt-4">
            <h1 class="h3 mb-2 text-gray-800">Watering Options</h1>
          </div>
		  
		  
<div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100 py-2">
			  <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Automated Watering</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="currentLight"></div>
                    </div>
                    <div class="col-auto">
                      <label class="toggleBtn">
                <input class="switch-input" id="autoSwitch" type="checkbox" onclick="auto()" />
                <span class="switch-label" data-on="on" data-off="off"></span>
                <span class="switch-handle"></span>
              </label>
                    </div>
                  </div>
                </div>
				</div>
				</div>
				
            <div class="col-xl-3 col-md-6 mb-4" id="manual">
              <div class="card border-left-danger shadow h-100 py-2">
			  			  <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Manual On/Off</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="currentLight"></div>
                    </div>
                    <div class="col-auto">
                      <label class="toggleBtn">
                <input class="switch-input switch2-input" id="manualSwitch" type="checkbox" onclick="manual()" />
                <span class="switch-label switch2-label" data-on="on" data-off="off"></span>
                <span class="switch-handle switch2-handle"></span>
              </label>
                    </div>
                  </div>
                </div>
				</div>
				</div>
		
        </div>  
		<div class="col-lg-6 mt-2">


              <!-- Approach -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Standard</h6>
                </div>
                <div class="card-body">
                  When the soil moisture level goes above 700 (for our soil moisture sensor, the higher it is the drier the soil), the red LED will light up as a warning to show that the plant needs water. In the automated system, the water pump will start to run and pump water into the soil automatically. The user can also switch to manual system that he can on or off the pump manually.                        
                </div>
              </div>

            </div>
		  

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="static/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="static/js/demo/chart-area-demo.js"></script>
  <script src="static/js/demo/chart-pie-demo.js"></script>
  <script type="text/javascript">



        function getCurrentData(){
            jQuery.ajax({
                url: '/api/getData',
                type: 'POST',
                success: function(ndata){ 
                    console.log(ndata);
					current = ndata[0];
					$("#currentTemp").text(current.temperature);
					$("#currentHum").text(current.humidity);
					$("#currentSoil").text(current.soil);
					$("#currentLight").text(current.light);
                }//end success
            });//end ajax
          } //end getNewData


        $(document).ready(function(){
		getStatus();
		getCurrentData();
            setInterval(function () {
                getCurrentData()
            }, 5000);
        });
		
       function getStatus(){
            jQuery.ajax({
                url: '/api/status',
                type: 'POST',
                success: function(ndata){ 
                    console.log(ndata);
					status = ndata[0].status;
					if (status=="A"){
					autoSwitch.checked = true;
					   console.log("auto");
					   $("#manual").hide();
					}
					else{
					autoSwitch.checked = false;
					$("#manual").show();
					if(status=="O"){
					manualSwitch.checked = true;
					}
					else{
					manualSwitch.checked = false;
					}
					}
                }//end success
            });//end ajax
          } //end getNewData


		
		

const autoSwitch = document.getElementById("autoSwitch");
const manualSwitch = document.getElementById("manualSwitch");
		
		
function auto() {
  let autoStatus;
  if (autoSwitch.checked) {
    autoStatus = "A";
  } else {
    autoStatus = "M";
  }
  console.log(autoStatus);

  $.ajax({
    url: '/api/changeStatus/' + autoStatus,
	type: 'POST',
	success: function(ndata){ 
	console.log(ndata);
	  if (autoSwitch.checked) {
	  $("#manual").hide();
    manualSwitch.disabled = true;
    manualSwitch.checked = false;
  } else {
  $("#manual").show();
    manualSwitch.disabled = false;
  }  
  console.log("auto-success");
                }//end success
            });//end ajax
}




function manual() {
  let manualStatus;
  if (manualSwitch.checked) {
    manualStatus = "O";
  } else {
    manualStatus = "F";
  }
  console.log(manualStatus);
$.ajax({
    url: '/api/changeStatus/' + manualStatus,
	type: 'POST',
	success: function(ndata){ 
	console.log(ndata);
}//end success
            });//end ajax
}



$('#logout').on('click',function () {
   window.location.replace("logout");
  
});



</script>
</body>

</html>
